.container {
  line-height: 1.6;
  margin: 4rem auto;
  padding: 1rem;
  font-family: var(--font-geist-sans);
  max-width: 1024px;
}

.container h1,
.container h2,
.container h3 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.container h1 {
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3rem;
}

.container p {
  margin-bottom: 1rem;
}

.container ul {
  list-style-type: disc;
  padding-left: 2rem;
}

.container ul li {
  margin-bottom: 0.5rem;
}

.container ol {
  list-style-type: disc;
  padding-left: 2rem;
}

.container ol li {
  margin-bottom: 0.5rem;
}

.container strong {
  font-weight: bold;
}

.container a {
  color: #007bff;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.container blockquote {
  background-color: #f5f5f5;
  padding: 1rem;
  margin: 1rem 0;
  border-left: 4px solid #171717;
  font-style: italic;
}

.container pre,
.container code {
  background-color: #f5f5f5;
  font-family: var(--font-geist-mono);
  font-size: 0.9rem;
  margin: 1rem 0;
  text-wrap: nowrap;
  scrollbar-width: thin;
}

.container pre {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 6px;
  overflow-x: auto;
  white-space: pre-wrap;
  border: 1px solid #171717;
}

.container code {
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .container p {
    font-size: 0.9rem;
  }

  .container ul li {
    font-size: 0.9rem;
  }

  .container pre {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .container ul li {
    font-size: 0.9rem;
  }

  .container pre {
    font-size: 0.9rem;
  }
}

@media (prefers-color-scheme: dark) {
  .container blockquote {
    background-color: #171717;
    border-left: 4px solid #f5f5f5;
  }

  .container pre,
  .container code {
    background-color: #171717;
  }

  .container pre {
    border: 1px solid #f5f5f5;
  }
}
